.yt-todos {

    background-color: @yt-color-clouds;
    box-shadow: @yt-box-shadow;

    .yt-error + & {
        display: none;
    }

    .yt-error.yt-display-none + & {
        display: block;
    }

    &__row {
        display: flex;
        align-items: stretch;
        border-bottom: @yt-border-nightblue-02;
    }

    &__col01, &__col02 {
        float: left;
        display: flex;
        align-items: center;
        padding-left: @yt-gutter-sm;
        padding-right: @yt-gutter-sm;
        padding-top: @yt-gutter-md;
        padding-bottom: @yt-gutter-md;
    }

    &__col01 {
        border-right: @yt-border-concrete-01;
        margin-right: 1px;
    }

    &__col02 {
        border-left: @yt-border-concrete-01;
        margin-left: 1px;

        .fa:first-child {
            margin-left: @yt-gutter-xs;
        } 

        .fa + .fa {
            margin-left: @yt-gutter-md;
        }
    }

    .fa-square-o, .fa-check-square-o {
        color: @yt-color-matteblue;
        width: 25px;
        height: 32px;
        position: relative;
        top:2px;
    }

    .fa-check-square-o {
        font-size: 30px;
    }

    a.fa-plus {
        position: relative;
        top:2px;
        color: @yt-color-greensea;

        &:active {
            top: 3px;
        }
    }

    a.fa-trash-o {
        position: relative;
        top: 1px;
        color: @yt-color-carrot;

        &:active {
            top: 2px;
        }
    }

    span.fa-trash-o {
        position: relative;
        top: 1px;
        color: fade(@yt-color-carrot, 50%);
    }

    a.fa-floppy-o {
        position: relative;
        top: 1px;
        left: 2px;
        color:@yt-color-matteblue;
        font-size: 31px;

        &:active {
            top: 2px;
        }
    }

    span.fa-floppy-o {
        position: relative;
        top: 1px;
        left: 2px;
        color: fade(@yt-color-matteblue, 50%);
        font-size: 31px;
    }
}