.yt-todos {

    background-color: @yt-color-clouds;
    box-shadow: @yt-box-shadow;

    &__row {
        display: flex;
        align-items: stretch;
        border-bottom: @yt-border-nightblue-02;
    }

    &__col01, &__col02 {
        float: left;
        display: flex;
        align-items: center;
        padding-left: @yt-gutter-sm;
        padding-right: @yt-gutter-sm;
        padding-top: @yt-gutter-md;
        padding-bottom: @yt-gutter-md;
    }

    &__col01 {
        border-right: @yt-border-concrete-01;
        margin-right: 1px;
    }

    &__col02 {
        border-left: @yt-border-concrete-01;
        margin-left: 1px;

        .fa:first-child {
            margin-left: @yt-gutter-xs;
        } 

        .fa + .fa {
            margin-left: @yt-gutter-md;
        }
    }

    .fa-square-o, .fa-check-square-o {
        color: @yt-color-matteblue;
        width: 25px;
        height: 32px;
        position: relative;
        top:2px;
    }

    .fa-check-square-o {
        font-size: 30px;
    }

    .fa-plus, .fa-trash-o {
        position: relative;

        &:active {
            top: 1px;
        }
    }

    .fa-plus {
        color: fade(@yt-color-greensea, 50%);

        &:hover {
            color: @yt-color-greensea;
        }
    }

    .fa-trash-o {
        color: fade(@yt-color-carrot, 50%);

        &:hover {
            color: @yt-color-carrot;
        }
    }
}