<div class="yt-todos">
    <div class="yt-clearfix yt-todos__row">
        <div class="yt-todos__col01">
            <span class="fa fa-2x fa-square-o" ng-show="!vm.allTodosChecked" ng-click="vm.checkAllTodos(true)"></span>
            <span class="fa fa-2x fa-check-square-o" ng-show="vm.allTodosChecked" ng-click="vm.checkAllTodos(false)"></span>
        </div>
        <div class="yt-todos__col02">
            <a href="#" class="fa fa-2x fa-plus" ng-click="vm.addTodo()"></a>
            <a href="#" class="fa fa-2x fa-trash-o" ng-show="!vm.noTodosChecked" ng-click="vm.deleteCheckedTodos()"></a>
            <span class="fa fa-2x fa-trash-o" ng-show="vm.noTodosChecked"></span>
            <a href="#" class="fa fa-2x fa-floppy-o" ng-show="!vm.noTodosChecked"></a>
            <span class="fa fa-2x fa-floppy-o" ng-show="vm.noTodosChecked"></span>
        </div>
    </div>
    <yt-todo ng-repeat="todo in vm.todos | orderBy: '-id'" todo="todo" ng-show="vm.todos.length" is-all-todos-checked="vm.isAllTodosChecked()"></yt-todo>
</div>