<div class="yt-todos">
    <div class="yt-clearfix yt-todos__row">
        <div class="yt-todos__col01">
            <span class="fa fa-2x fa-square-o" ng-show="!vm.allTodosChecked" ng-click="vm.checkAllTodos(true);"></span>
            <span class="fa fa-2x fa-check-square-o" ng-show="vm.allTodosChecked" ng-click="vm.checkAllTodos(false);"></span>
        </div>
        <div class="yt-todos__col02">
            <a href="#" class="fa fa-2x fa-plus"></a>
            <a href="#" class="fa fa-2x fa-trash-o"></a>
        </div>
    </div>
    <yt-todo ng-repeat="todo in vm.todos" todo="todo" all-todos-checked="vm.allTodosChecked"></yt-todo>
</div>