.yt-error {
    display: none;
    position: absolute;
    z-index: @yt-z-index-2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: inherit;
    padding-right: inherit;

    &__inner {
        background-color: @yt-color-clouds;
        padding: @yt-gutter-xs;

        h1, h2 {
            margin: 0;
            text-align: center;
            color: @yt-color-carrot;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 16px;
        }
    }

    &__button {
        text-align: center;
        margin-top: @yt-gutter-sm;
        margin-bottom: @yt-gutter-xs;

        button {
            text-decoration: none;
            border: none;
            outline: none;
            padding: @yt-gutter-xs;
            width: 50%;
            background-color: @yt-color-carrot;
            color: @yt-color-clouds;
            position: relative;

            &:active {
                top:1px;
            }
        }
    }
}