html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: @yt-color-dark;
  height: 100%;
}

.yt-main-container {

  > .row {
    margin: 0;
  }

  padding-top: @yt-sticky-header-height + @yt-gutter-lg;

  min-height: 100%;
  margin-bottom: -@yt-sticky-footer-height;
  
  &:after {
    content: "";
    display: block;
    height: @yt-sticky-footer-height;
  }

  padding-bottom: @yt-gutter-lg;
  
  @media (min-width: @screen-md-min) { 
    padding-top: @yt-sticky-header-height-md-up + @yt-gutter-xl;
    padding-bottom: @yt-gutter-xl;
  }
}

.yt-todo + .yt-todo {
  margin-top: @yt-gutter-md;
}