html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: @yt-color-dark;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

.yt-main-container {
  padding-top: @yt-sticky-header-height + @yt-gutter-lg;

  // sticky footer
  min-height: 100%;
  margin-bottom: -@yt-sticky-footer-height;
  &:after {
    content: "";
    display: block;
    height: @yt-sticky-footer-height;
  }
  
  @media (min-width: @screen-md-min) { 
    padding-top: @yt-sticky-header-height-md-up + @yt-gutter-xl;
  }
}

.yt-test-remove {
  height: 400px;
  outline: 1px solid magenta;
}