html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  background-color: @yt-color-concrete;
  color: @yt-color-nightblue;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}