html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  height: 100%;
  background-color: @yt-color-dark;
  color: @yt-color-light-grey;
  font-family: 'Ubuntu', sans-serif;
}

// Helpers

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.yt-text-right { 
    text-align: right; 
}

.yt-text-center { 
    text-align: center; 
}

.yt-text-nowrap { 
    white-space: nowrap; 
}

.yt-text-uppercase { 
    text-transform: uppercase; 
}