// LIB

@fa-font-path: './';

// COLORS
// From: https://flatuicolors.com/

@yt-color-concrete: #95a5a6;
@yt-color-clouds: #ecf0f1;
@yt-color-nightblue: #2c3e50;
@yt-color-greensea: #16a085;
@yt-color-carrot: #e67e22;
@yt-color-matteblue: #2980b9;

// MEDIA QUERIES

@yt-mq-phone-p: 320px;
@yt-mq-tablet-p: 768px;
@yt-mq-tablet-l: 1024px;

// SIZES

@yt-app-min-height: 250px;
@yt-app-max-width: 500px;
@yt-app-10-percent: 10%;

// GUTTER

@yt-gutter-xs: 5px;
@yt-gutter-sm: 10px;
@yt-gutter-md: 15px;
@yt-gutter-lg: 30px;

// TYPOGRAPHY

@yt-font-light: 300;
@yt-font-normal: 400;
@yt-font-medium: 500;
@yt-font-bold: 700;

// EFFECT

@yt-box-shadow: -5px 6px 20px -2px fade(@yt-color-nightblue, 75%);
@yt-border-01: 1px solid @yt-color-nightblue;
@yt-border-02: 2px solid @yt-color-nightblue;