// LIB

@fa-font-path: './';

// COLORS
// From: https://flatuicolors.com/

@yt-color-concrete: #95a5a6;
@yt-color-clouds: #ecf0f1;
@yt-color-nightblue: #2c3e50;
@yt-color-greensea: #16a085;
@yt-color-carrot: #e67e22;
@yt-color-matteblue: #2980b9;

// MEDIA QUERIES

@yt-mq-tablet-p: 768px;

// SIZES

@yt-app-max-width: 500px;
@yt-app-10-percent: 10%;

// GUTTER

@yt-gutter-xs: 5px;
@yt-gutter-sm: 10px;
@yt-gutter-md: 15px;
@yt-gutter-lg: 30px;

// TYPOGRAPHY

@yt-font-family: 'Ubuntu', sans-serif;

// Font sizes
@yt-font-size-header: 32px;
@yt-font-size-header-small: 23px;
@yt-font-size-bread: 16px;
@yt-font-size-small: 11px;
@yt-font-size-icon-01: 30px;
@yt-font-size-icon-02: 31px;

// Font weights
@yt-font-weight-light: 300;
@yt-font-weight-normal: 400;
@yt-font-weight-medium: 500;

// Z-INDEX

@yt-z-index-2: 2;

// EFFECT

@yt-box-shadow: -5px 6px 20px -2px fade(@yt-color-nightblue, 75%);

@yt-border-nightblue-01: 1px solid @yt-color-nightblue;
@yt-border-nightblue-02: 2px solid @yt-color-nightblue;

@yt-border-concrete-01: 1px solid @yt-color-concrete;