.yt-todo {
    background-color: @yt-color-dark-grey;

    &__header {
        color: @yt-color-white;
    }

    &__date {
        margin: 0;
    }

    &__label {
        margin: 0;
    }

    &__body {
        p {
            margin: 0;
        }
        p + p {
            margin-top: @yt-gutter-sm;
        }
    }
}