.yt-todo-row {
    padding: @yt-gutter-md;

    &__col {
        float: left;
    }

    &__col-text {
        float: left;
        width: 90%;
    }
}

.yt-todo-row + .yt-todo-row {
    border-top:@yt-border-01;
}