.yt-todo {

    &__header {
        background-color: @yt-color-darker-grey;
        color: @yt-color-white;
        border: 4px solid @yt-color-dark-grey;
        padding: @yt-gutter-md;
    }

    &__date {
        margin: 0;
    }

    &__label {
        margin: 0;
        text-align: right;

        &.yt-color-joy {
            color: @yt-color-magenta;
        }

        &.yt-color-project {
            color: @yt-color-purple;
        }

        &.yt-color-work {
            color: @yt-color-blue;
        }
    }

    &__body {
        background-color: @yt-color-dark-grey;
        color: @yt-color-light-grey;
        padding: @yt-gutter-md;

        p {
            margin: 0;
        }
        p + p {
            margin-top: @yt-gutter-sm;
        }
    }

    &__crud {
        text-align: right;
        font-size: 22px;

        .fa-trash {
            color: @yt-color-red;
            outline: 1px solid fade(@yt-color-red, 25%);

            &:hover {
                outline: 1px solid @yt-color-red;
            }
        }

        .fa-pencil {
            color: @yt-color-yellow;
            outline: 1px solid fade(@yt-color-yellow, 25%);

            &:hover {
                outline: 1px solid @yt-color-yellow;
            }
        }

        .fa + .fa {
            margin-left:@yt-gutter-xs;
        }

        .fa {
            position: relative;
            padding: @yt-gutter-md;
            transition: outline 0.5s;

            &:active {
                top: 1px;
            }
        }
    }
}